.info{
    /* padding-bottom: 3%; */
    padding-top: 2%;
    zoom: 1; /* IE6&7 */
    font-family: 'Roboto Condensed', sans-serif;
}


.info:before,
.info:after {
  content: "";
  display: table;
}

.info:after {
  clear: both;
}

.contenInfo{
  max-width: 91%;
  margin-left: 4%;
}

.fondoinfo {

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.466) ,rgba(255, 255, 255, 0.466) , rgba(255, 255, 255, 0.171));
  margin-top: -.4%;
  /* margin-top: -2.35%; */
  margin-bottom: .2%;
}


  .texto1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: -.8%;
    padding-top: .5%;
    padding-left: 1%;
    width: auto;
  }

  .texto1 p {
    margin-top: 1.2%;
    margin-bottom: 2.03%;
  }

  .imgInfo {
    padding: 2%;
    padding-bottom: 1%;
    float: left;
  }

  .imgInfo img{
    width: 100%;
    border-radius: 5px;
  }


  .column2 {
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    flex: 45%;
    /* max-width:34%; */
   /*  margin-right: 1%; */
  }

  @media screen and (max-width: 1000px) {
  .column2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}