
.main {
  font-size: 1.5vw; /* Increased text to enable scrolling */
  float: right;
  max-width: 87%;
}

.main h2{
  font-family: 'Rambla', sans-serif;
  background-image: linear-gradient(to right, rgb(212, 121, 2) .1% , rgb(223, 138, 26) 1%, rgba(223, 138, 26, 0.11) 90%);
  padding-left: 4%;
  padding-top: .5%;
  padding-bottom: .5%;
}