/* --------------------------- PORTFOLIO EN INICIO ----------------------------- */

.portfolio {
  padding-bottom: 3%;
  padding-top: 1%;
  }

.imgPortfolio{
  max-width: 90%;
  margin-left: 4%;
  margin-top: -.5%;
  /* margin-top: -2.25%; */
  /* background-color: rgba(0, 0, 0, 0.185); */
  background-color: rgba(255, 255, 255, 0.466);
  padding-left: .5%;
  padding-right: .5%;
  padding-top: .5%;
}

.imagenPortfolio{
  cursor: pointer;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0);
  padding: 2%;
  width: 96%;
  -webkit-filter: brightness(100%);
  }

.imagenPortfolio:hover {
  -webkit-filter: brightness(65%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .3s ease;
}

/* ------------------imagenes en inicio--------------- */


 .row{
  display: flex;
  flex-wrap: wrap;
}


.column {
  display: inline-block;
  vertical-align: top;
  flex: 25%;
  max-width:34%;
  /* margin-right: .25%; */
}

.column img {
  vertical-align: middle;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}