/* Estilos del scrollbar personalizado */

/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(75, 62, 48); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(223, 138, 26); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 112, 16); 
  }